<% provide(:title, 'Помощь') %>
<h1>Помощь</h1>
<p>
  Справка по Ruby on Rails Tutorial на
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  Для справки по этому приложению, см.
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>